:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "open sans" , sans-serif;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* srart sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    margin-bottom: 50px;
}
.sidebar > h3::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 35px;
    transform: translateY(20px);
}
.sidebar > h3::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    border: 5px solid white;
    border-radius: 50%;
    transform: translate(-50px, 30px);
}
.sidebar ul li a {
    margin-bottom: 5px;
    transition: .3s;
}
.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
    transition: .5s;
    left: 15px;
}
@media (max-width: 767px) {
    .sidebar {
        width: 62px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 11px;
        margin-bottom: 15px;
        text-align: center;
        margin-top: 15px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after {
        display: none;
    }
    
    .sidebar ul li a span {
        display: none;
    }
}
/* start content  */
/* start head */
.content {
    overflow: hidden;
}
.content .head .search::before {
    content: "\f002";
    font-family: "font Awesome 6 free";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: var(--grey-color);
}
.content .head .search  input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 170px;
    transition: width .3s;
}
.content .head .search  input:focus {
    width: 200px;
}
.content .head .search  input:focus::placeholder {
    opacity: 0;
}
.content .head .icons span {
    margin-right: 15px;
}
.content .head .icons span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-color);
    right: -5px;
    top: -5px;
    transform: translate(3px, -1px);
}
.content .head .icons img {
    width: 35px;
}
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 4px;
    background-color: white;
    bottom: -15px;
    left: 0;
}
.page h1::after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: black;
    width: 40px;
    left: 0;
    bottom: -15px;
}
/* start files-page  */
.files-page {
    align-items: flex-start ;
}
@media (max-width: 767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
        flex-direction: column-reverse;
    }
}
.content .files-page .files {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.content .files-page .files .file .my-file img {
    width: 60px;
    height: 60px;
    transition: .3s;
}
.content .files-page .files .file:hover img {
    transform: rotate(5deg);
}
.content .files-page .files .file span .detail {
    margin-right: auto;
}
.content .files-page .files .file .info {
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.content .files-page .statistics {
    min-width: 260px;
}
.content .files-page .statistics .stat .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.content .files-page .statistics .stat .size {
    margin-left: auto;
}
.content .files-page .statistics .stat .blue {
    background-color: rgb(0 117 255 / 20%);
}
.content .files-page .statistics .stat .green {
    background-color: rgb(34 197 94 / 20%);

}
.content .files-page .statistics .stat .red {
    background-color: rgb(244 67 54 / 20%);

}
.content .files-page .statistics .stat .orange {
    background-color: rgb(245 158 11 / 20%);
}
.content .files-page .statistics .upload {
    padding: 10px 15px;
    margin: auto;
    transition: .3s;
}
.content .files-page .statistics .upload:hover {
    background-color: var(--blue-alt-color);
}
.content .files-page .statistics .upload:hover i {
animation: go-up .8s infinite;
}
/* start animation  */
@keyframes go-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}