:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "open sans" , sans-serif;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* srart sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    margin-bottom: 50px;
}
.sidebar > h3::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 35px;
    transform: translateY(20px);
}
.sidebar > h3::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    border: 5px solid white;
    border-radius: 50%;
    transform: translate(-50px, 30px);
}
.sidebar ul li a {
    margin-bottom: 5px;
    transition: .3s;
}
.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
    transition: .5s;
    left: 15px;
}
@media (max-width: 767px) {
    .sidebar {
        width: 62px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 11px;
        margin-bottom: 15px;
        text-align: center;
        margin-top: 15px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after {
        display: none;
    }
    
    .sidebar ul li a span {
        display: none;
    }
}
/* start content  */
/* start head */
.content {
    overflow: hidden;
}
.content .head .search::before {
    content: "\f002";
    font-family: "font Awesome 6 free";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: var(--grey-color);
}
.content .head .search  input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 170px;
    transition: width .3s;
}
.content .head .search  input:focus {
    width: 200px;
}
.content .head .search  input:focus::placeholder {
    opacity: 0;
}
.content .head .icons span {
    margin-right: 15px;
}
.content .head .icons span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-color);
    right: -5px;
    top: -5px;
    transform: translate(3px, -1px);
}
.content .head .icons img {
    width: 35px;
}
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 4px;
    background-color: white;
    bottom: -15px;
    left: 0;
}
.page h1::after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: black;
    width: 40px;
    left: 0;
    bottom: -15px;
}
/* start plans-page */
.content .plans-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
    .content .plans-page {
        grid-template-columns: minmax(200px, 1fr);
    }
}
.content .plans-page .head {
    border: 3px solid white;
    outline: 3px solid transparent;
}
.content .plans-page .head h4 {
    font-size: 25px;
}
.content .plans-page .green .head {
    outline-color: var(--green-color);
}
.content .plans-page .blue .head {
    outline-color: var(--blue-color);
}
.content .plans-page .orange .head {
    outline-color: var(--orange-color);
}
.content .plans-page .head .price {
    position: relative;
    font-size: 45px;
    width: fit-content;
    margin: auto;
}
.content .plans-page .head .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;
}
.content .plans-page .box ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}
.content .plans-page .box ul li i:not(.help) {
    margin-right: 5px;
}
.content .plans-page .box  ul li .help {
    margin-left: auto;
    cursor: pointer;
}